* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f1f5f9;
}
a {
  text-decoration: none;
}
.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}

.sidebar ul li a {
  margin-bottom: 5px;
  transition: 0.3;
  cursor: pointer;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
}
.content {
  overflow: hidden;
}
.head .welcome-widget {
  font-size: 20px;
}

.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 20px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 762px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.dashboard-page {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
@media (max-width: 767px) {
  .dashboard-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.dashboard-page .box {
  overflow: hidden;
}
.dashboard-page .box h2 {
  text-align: center;
  font-weight: 500;
}
.dashboard-page .box p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.content .actions {
  margin: 15px 20px 40px;
}
.content .actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: var(--blue-color);
}
.content .actions button svg {
  width: 30px;
  height: 30px;
  color: #ffffff;
}
.content .actions p {
  margin-top: 13px;
  font-size: 30px;
}
.content-flex-container {
  display: flex; /* Using flexbox to align children */
  width: 100%; /* Full width of the container */
  height: 500px;
  margin: 20px;
  gap: 20px;
}

.content-main {
  background-color: #ffffff;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.content-sub-container {
  width: 46%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.content-sub {
  background-color: #ffffff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.content-sub .chart-line {
  width: 90% !important;
  height: 200px !important;
}
.classes-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 40px;
}
@media (max-width: 767px) {
  .classes-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.classes-page .class {
  overflow: hidden;
  transition: all 0.1s ease-out;
}
.classes-page .class:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  scale: 1.01;
}
.classes-page .class .cover {
  max-width: 100%;
  width: 405px;
  height: 300px;
}
.classes-page .class .description {
  line-height: 1.6;
}
.classes-page .class .info {
  border-top: 1px solid #eee;
  font-size: 13px;
}
.classes-page .class .info span {
  align-content: center;
  padding: 10px;
  cursor: pointer;
}
.materials-page {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 40px;
}
@media (max-width: 767px) {
  .materials-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.materials-page .material {
  overflow: hidden;
  height: 60px;
  background-color: #f1f5f9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-out;
}
.materials-page .material:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  width: 150px;
  border-radius: 20px 0 0 20px;
  background-color: #d3d3d3;
  color: black;
}

.tab:last-child {
  border-radius: 0 20px 20px 0;
}

.tab.active {
  background-color: #337a99;
  color: white;
}
.tab.topic {
  border-top-left-radius: 20px;
}

.tab:not(.active):hover {
  background-color: #b0b0b0;
}
.unit-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
  flex-direction: column;
  transition: all 0.2s ease-out;
}
.unit-card {
  display: flex;
  width: 500px;
  flex-direction: column;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}
.unit-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.unit-header {
  display: flex;
  align-items: center;
}

.unit-icon {
  margin-right: 10px;
}

.unit-icon svg {
  width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.unit-content {
  flex-grow: 1;
}

.unit-content p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.unit-actions {
  margin-left: auto;
}

.expand-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #000;
}

.expand-button:hover {
  color: var(--blue-color);
}

.unit-body {
  transition: all 0.3s ease-in;
  padding: 10px;
  height: 200px;
  margin-top: 10px;
}
